// Font Families Set Up:
html.fonts-loaded .ff-primary,
html.fonts-loaded body {
	font-family: $primaryFontStack;
}
html.fonts-loaded .ff-secondary {
	font-family: $secondaryFontStack;
}

.ff-primary,
body {
	font-family: $primaryFontStackSystem;
}
.ff-secondary {
	font-family: $secondaryFontStackSystem;
}

//embedded links in a paragraph or readable text
.txt-centric {
	font-family: $secondaryFontStack;
	&.embed-links {
		font-weight: 700;
		text-decoration: underline;
		text-decoration-color: inherit;
	}
}

//Aspect Ratios
.asp-ratio-rect-ac {
	padding-top: 56.25%; //16:9 apect-ratio
}
.asp-ratio-rect-dac {
	padding-top: initial;
}
.asp-ratio-sq-ac {
	padding-top: 100%; //16:9 apect-ratio
}
.asp-ratio-sq-dac {
	padding-top: initial;
}

/*
    .className--Modifier symbolizes modifier applied to some exiting className
*/

//Specific Sass Related to components
.fig-container--wd-ht-60 {
	min-width: 60px;
	height: 60px;
}

.fig--bg-img-ct-cov-props {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.fig--tt-black-bt:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	z-index: 1;
}
.newsListTreeSeed .tx-container {
	color: #ffffff;
}

// Color Effects on hover action:
.navy-blue-cl-hover:hover {
	color: #004494;
}
.white-cl-hover:hover {
	color: #ffffff;
}
.black-cl-hover:hover {
	color: #000000;
}

// Background Color Effects on hover action:
.alice-blue-bg-hover:hover {
	background-color: #edf5ff;
}
.navy-blue-bg-hover:hover {
	background-color: #004494;
}

// Border Color/Outline Effects on hover action:
.br-1px-dodger-blue {
	border: 1px solid #3391ff;
}
.navy-blue-outline-hover:hover {
	border: 1px solid #004494;
}

//Tabs Related:

.tabs .slider {
	background-color: #000000;
	height: 1px;
	transition: left 0.2s ease-out;
}

@for $i from 1 through 8 {
	.tabs input.tab-switch-#{$i}:checked + label {
		color: #000000;
	}

	.tabs input.tab-switch-#{$i}:checked ~ .tab-content .content-#{$i} {
		display: block;
	}
}

//Dropdown related

.drdown-box[data-status="on"] {
	display: block;
}
.drdown-selector.active {
	background-color: #edf5ff;
}
.drdown-selector-plain.active {
	background-color: transparent;
}
.drdown-selector-hoverable:hover .drdown-box {
	display: block;
}
.toggle-label[data-status="off"] {
	display: none;
}

//Filtered DropDown Related:

/* Create a custom checkbox */
.filter-checkbox .checkmark {
	position: absolute;
	top: 50%;
	left: 20px;
	height: 14px;
	width: 14px;
	background-color: #ffffff;
	border: solid 1px #8b8b8b;
	transform: translateY(-50%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.filter-checkbox .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.filter-checkbox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.filter-checkbox .checkmark:after {
	left: 4px;
	top: 0px;
	width: 6px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* When the checkbox is checked, add a blue background */
.filter-checkbox input:checked ~ .checkmark {
	background-color: #3391ff;
	border: solid 1px #3391ff;
}
//Table Related Sass:

.rotate-180 {
	transform: rotate(180deg);
}
.table tbody tr:nth-child(2n) {
	background-color: #fbfbfe;
}
.table tbody tr.bg-inherit {
	background-color: transparent;
}
.table tr td:first-child {
	padding-left: 20px;
}

.table tr td:last-child {
	padding-right: 20px;
}

.table.highlighted-first-row tr:nth-child(2) {
	background: linear-gradient(99deg, #fffbdf, #fffdbc);
	border-bottom: 1px solid #fc0;
	border-top: 1px solid #fc0;
}

.table.highlighted-last-row tr:nth-last-child(2) {
	background: linear-gradient(99deg, #fffbdf, #fffdbc);
	border-bottom: 1px solid #fc0;
	border-top: 1px solid #fc0;
}

// Bottom Load More Functionality
.dot-loader.active,
.flash-error.active {
	display: block;
}

//Navigation
body[data-side-drawer="on"] #header-nav .side-nav {
	display: block;
}

body[data-side-drawer="on"] .complete-tint {
	display: block;
}

/* #header-nav .top-bar.down .slab-logo{
    display: none;
} */
#header-nav .top-bar.down .slab-category {
	display: flex;
}

.top-bar[data-search="off"] .search-bar {
	display: none;
}

.top-bar[data-search="on"] .search-bar {
	display: flex;
}

.top-bar[data-search="on"] .first-tier {
	display: none;
}

.accordion-depth-0 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.accordion-depth-0 .title {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
}
.accordion-depth-1 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 20px;
}
.accordion-depth-1 .title {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.accordion-depth-2 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
}
.accordion-depth-2 .title {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: 0.3px;
	color: #8b8b8b;
}
.acc-slab .selector.selected .status-indicator .close {
	display: none;
}

.acc-slab .selector.selected .status-indicator .open {
	display: initial;
}

.br-rd-tl-tr-10px {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.br-rd-bl-br-10px {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.login-title-cont {
	overflow: visible;
}
.login-title-cont.login-title:before {
	border-left: 1px solid #e9ebf2;
	border-right: 1px solid #e9ebf2;
	border-top: 1px solid #e9ebf2;
	content: " ";
	height: 30px;
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body[data-page-loader="off"] .page-loader {
	display: none;
}

.dark-theme .standard-link {
	color: #fff;
}
.dark-theme .standard-bttn {
	color: #fff;
	border: 1px solid #fff;
}
.dark-theme .standard-bttn:hover {
	border: 1px solid #fff;
}
.push-notif.subscribePopup .pop-up-box {
	max-width: 420px;
	box-shadow: 0 -2px 22px 0 rgba(0, 0, 0, 0.06);
}
.push-notif.subscribePopup .cross-icon {
	top: 10px;
	right: 10px;
}

.stories-list {
	& .item.fixed-size {
		width: 180px;
	}
}
.story-item-text-area.variable-size {
	left: 10px;
	right: 10px;
	background: linear-gradient(180deg,transparent,#000 99%);
}

.story-item-text-area.fixed-size {
	background: linear-gradient(180deg,transparent,#000 99%);
}

.slide-show-dots {
	& .slick-dots {
		display: flex;
		justify-content: space-between;
		align-items: center;
		& button[type="button"] {
			display: none;
		}
		& li[role="presentation"]:before {
			content: "•";
			font-size: 20px;
			cursor: pointer;
			margin-left: 4px;
			margin-right: 4px;
		}
	}
	& ul {
		&.slick-dots {
			list-style: none;
		}
	}
}

.slide-show-dots {
	&.light-theme {
		& .slick-dots {
			& li[role="presentation"]:before {
				color: rgba(0, 0, 0, 0.2);
			}
			& li[role="presentation"].slick-active:before {
				color: #000000;
			}
		}
	}
}

.slide-show-bars {
	& ul.slick-dots {
		list-style: none;
		display: flex;
		justify-content: space-between;
		& li {
			flex-grow: 1;
			margin-left: 10px;
			margin-right: 10px;
			display: flex;
			align-items: center;
			& button {
				width: 100%;
				height: 2px;
				border-radius: 1px;
			}
		}
		& li:first-child {
			margin-left: 0;
		}
		& li:last-child {
			margin-right: 0;
		}
	}
}

.slide-show-bars.dark-theme {
	& ul.slick-dots {
		& li {
			& button {
				background-color: #8b8b8b;
				position: relative;
			}
			& button.active {
				background-color: #ffffff;
			}
			& button::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 0;
				background-color: #ffffff;
				transition-timing-function: linear;
				transition-duration: 5s;
				transition-delay: 0.5s;
				transition-property: width;
			}
			& button.reset::before {
				background-color: #8b8b8b;
			}
		}
	}
}

.slide-show-bars.dark-theme {
	& ul.slick-dots {
		& li.slick-active {
			& button::before {
				width: 100%;
			}
		}
	}
}

.slide-show-bars.dark-theme + .slide-items-mapper .slide-item.active {
	color: #ffffff;
}

@mixin screen-based-trivial($screenBased) {
	@if $screenBased {
		.pagination-present .row-hidden {
			display: none;
		}
		@media screen and (min-width: $breakPt2 + px) {
			.asp-ratio-rect-md-ac {
				padding-top: 56.25%; //16:9 apect-ratio
			}

			.asp-ratio-rect-md-dac {
				padding-top: initial;
			}
			.fx-grow-md-1 {
				flex-grow: 1;
			}

			.asp-ratio-sq-md-ac {
				padding-top: 100%; //1:1 apect-ratio
			}
			.asp-ratio-sq-md-dac {
				padding-top: initial;
			}

			.fig-container--wd-ht-md-60 {
				min-width: 60px;
				height: 60px;
			}
			.fig--bg-img-ct-cov-md-props {
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}

			.table tr td:first-child {
				padding-left: 20px;
			}

			.table tr td:last-child {
				padding-right: 20px;
			}

			.br-rd-tl-tr-md-10px {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}

			.br-rd-bl-br-md-10px {
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}

			.stories-list {
				& .item.fixed-size {
					width: 180px;
				}
			}
		}

		@media screen and (max-width: ($breakPt3 - 0.1) + px) {
			.hidden-in-touch {
				display: none;
			}
			.fig--tt-black-bt:before {
				height: 85%;
			}
			.table tr td {
				display: none;
			}
			.table tr td.imp {
				display: table-cell;
			}
		
		}

		@media screen and (min-width: $breakPt3 + px) {
			.asp-ratio-rect-lg-ac {
				padding-top: 56.25%; //16:9 apect-ratio
			}
			.asp-ratio-rect-lg-dac {
				padding-top: initial;
			}
			.asp-ratio-sq-lg-ac {
				padding-top: 100%; //1:1 apect-ratio
			}
			.asp-ratio-sq-lg-dac {
				padding-top: initial;
			}
			
			.fig-container--wd-ht-lg-60 {
				min-width: 60px;
				height: 60px;
			}
			.fig--bg-img-ct-cov-lg-props {
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
	}
}

.hidden {
	display: none;
}
.embedded-links a {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: inherit;
}
a.txt-decor-underline {
	text-decoration: underline;
	text-decoration-color: inherit;
}
.force-br-rd-10 {
	border-radius: 10px;
}
.placeholder-query-packet::placeholder {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	letter-spacing: 0.3px;
	color: #8b8b8b;
	font-family: $primaryFontStack;
}
.image-credits {
	right: 10px;
	bottom: 10px;
}
.image-credits .svg {
	fill: #ffffff;
}
.quiz-card-intermediary {
	bottom: 45%;
	transform: translateX(-50%);
}
.quiz-card-intermediary-animation{
	animation: slideUpQuizCardIntermediary 1s;
}
.full-screen-modal{
	z-index: 100;
}
.full-screen-modal .insert-content{
	right: 40px;
	top: 10px;
}
@keyframes slideUpQuizCardIntermediary {
	from {bottom: 45%;}
	to {bottom: 60%;}
}
// The following set of Sass is specifically for Amp Version of the Pages:

.wrapper-full-wd-amp-ac {
	width: 100%;
	max-width: $breakPt2 + px;
	margin-left: auto;
	margin-right: auto;
}
.wrapper-sm-variant-amp {
	width: 92%;
	max-width: $breakPt2 + px;
	margin-left: auto;
	margin-right: auto;
}
input.drdown-stateless-amp:checked ~ .drdown-box {
	display: block;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
	font-size: 16px;
}

@media screen and (max-width: 767.99px) {
	.hidden-sm {
		display: none;
	}
}

.break-word{
	word-break: break-word;
}