@for $i from 1 through 10 {
	.animation-dur-scale-#{$i} {
		animation-duration: ($i * 0.1) + s;
		animation-fill-mode: both;
	}
}

@keyframes slideInDown {
	0% {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}
	to {
		transform: translateZ(0);
	}
}

.ent-slide-down {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
}

@keyframes slideOutUp {
	0% {
		transform: translateZ(0);
	}

	to {
		visibility: hidden;
		transform: translate3d(0, -100%, 0);
	}
}

.ext-slide-up {
	-webkit-animation-name: slideOutUp;
	animation-name: slideOutUp;
}

@keyframes slideInUp {
	0% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

.ent-slide-up {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
}

@keyframes fadeInFadeOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in-fade-out {
	-webkit-animation-name: fadeInFadeOut;
	animation-name: fadeInFadeOut;
}

@keyframes pulse {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

//Custom Animations Required for specific use cases:

@keyframes slideInDownMg {
	0% {
		margin-top: 0;
		opacity: 0;
	}

	to {
		margin-top: 10px;
		opacity: 1;
	}
}

.ent-slide-down-mg {
	-webkit-animation-name: slideInDownMg;
	animation-name: slideInDownMg;
}

@keyframes slideInDownPd {
	0% {
		padding-top: 0;
		opacity: 0;
	}

	to {
		padding-top: 10px;
		opacity: 1;
	}
}

.ent-slide-down-pd {
	-webkit-animation-name: slideInDownPd;
	animation-name: slideInDownPd;
}

@keyframes slideOutUpMg {
	0% {
		margin-top: 10px;
		opacity: 1;
	}

	to {
		margin-top: 0;
		opacity: 0;
	}
}

.ext-slide-up-mg {
	-webkit-animation-name: slideOutUpMg;
	animation-name: slideOutUpMg;
}

@keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

.ent-slide-left {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
}

@keyframes slideOutLeft {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}

	to {
		visibility: hidden;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

.ext-slide-left {
	-webkit-animation-name: slideOutLeft;
	animation-name: slideOutLeft;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.ent-fade-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@keyframes flicker {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.flicker {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.infinite-animation {
	animation-iteration-count: infinite;
}
