/* These are the basic set of display values
 *
 */

$displays: (
	in: inline,
	bl: block,
	ib: inline-block,
	inherit: inherit,
	initial: initial,
	tb: table,
	tb-cell: table-cell,
	tb-col: table-column,
	fx: flex,
	in-fx: inline-flex,
	cont: contents,
	grid: grid,
);

@each $name, $value in $displays {
	.dp-#{$name} {
		display: $value;
	}
}

// Sassy Map for flex-related property of elements
$fxAlign: (
	st: flex-start,
	end: flex-end,
	ct: center,
	bs: baseline,
	stretch: stretch,
);

$fxJustify: (
	st: flex-start,
	end: flex-end,
	ct: center,
	bw: space-between,
	ar: space-around,
	ev: space-evenly,
);

@each $name, $value in $fxAlign {
	.fx-al-#{$name} {
		align-items: $value;
	}
}

@each $name, $value in $fxJustify {
	.fx-js-#{$name} {
		justify-content: $value;
	}
}

.dp-fx,
.dp-md-fx,
.dp-lg-fx {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.fx-dr-row {
	flex-direction: row;
}

.fx-dr-col {
	flex-direction: column;
}

.fx-wrap {
	flex-wrap: wrap;
}

@for $i from 1 through 5 {
	.fx-grow-#{$i} {
		flex-grow: $i;
	}
}
@for $i from 1 through 3 {
	.fx-#{$i} {
		flex: $i;
	}
}