// Grid Wrapper:
.wrapper {
	width: 92%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.wrapper-sm-variant {
	width: 92%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

// Cursor Related:
.cs-ptr {
	cursor: pointer;
	pointer-events: auto;
}

.pe-none * {
	pointer-events:none;
}

// Text Alignment:
.tx-lt {
	text-align: left;
}
.tx-ct {
	text-align: center;
}
.tx-rt {
	text-align: right;
}

//Text overflow:
.tx-ovr-ellipsis {
	text-overflow: ellipsis;
}

// White Spaces:
.wht-sp-normal {
	white-space: normal;
}
.wht-sp-nowrap {
	white-space: nowrap;
}

/* Width Related:
 * Partial Widths/ Widths In Pixels
 * These are the basic set of conventions in widths
 *  wd-type-value
 *  type here is 'px' => 'for pixels', 'pr' => 'for percentage'
 */
.wd-full {
	width: 100%;
}
.wd-pr-100 {
	width: 100%;
}
.wd-vw-100 {
	width: 100vw;
}
.mx-wd-full {
	max-width: 100%;
}
.mx-wd-pr-100 {
	max-width: 100%;
}
.mx-wd-px-1200 {
	max-width: 1200px;
}

// The above convention follows for the height too:
.ht-full {
	height: 100%;
}
.ht-half {
	height: 50%;
}
.ht-pr-100 {
	height: 100%;
}
.ht-vh-100 {
	height: 100vh;
}

.wd-px-4 {
	width: 4px;
}
.wd-px-40 {
	width: 40px;
}
.wd-px-90 {
	width: 90px;
}
.wd-px-100 {
	width: 100px;
}
.wd-px-150 {
	width: 150px;
}
.wd-px-180 {
	width: 180px;
}
.wd-px-300 {
	width: 300px;
}
.wd-px-360 {
	width: 360px;
}

.wd-ht-0 {
	width: 0;
	height: 0;
}
.wd-ht-px-3 {
	width: 3px;
	height: 3px;
}
.wd-ht-px-4 {
	width: 4px;
	height: 4px;
}
.wd-ht-px-5 {
	width: 5px;
	height: 5px;
}
.wd-ht-px-8 {
	width: 8px;
	height: 8px;
}
.wd-ht-px-32 {
	width: 32px;
	height: 32px;
}
.wd-ht-px-36 {
	width: 36px;
	height: 36px;
}
.wd-ht-px-40 {
	width: 40px;
	height: 40px;
}
.wd-ht-px-50 {
	width: 50px;
	height: 50px;
}
.wd-ht-px-70 {
	width: 70px;
	height: 70px;
}
.wd-ht-px-100 {
	width: 100px;
	height: 100px;
}
.wd-ht-px-140 {
	width: 140px;
	height: 140px;
}
.wd-ht-px-200 {
	width: 200px;
	height: 200px;
}

.mx-wd-px-380 {
	max-width: 380px;
}

.min-wd-px-50 {
	min-width: 50px;
}
.min-wd-px-100 {
	min-width: 100px;
}
.min-wd-px-110 {
	min-width: 110px;
}
.min-wd-px-120 {
	min-width: 120px;
}
.min-wd-px-160 {
	min-width: 160px;
}

.min-ht-px-50 {
	min-height: 50px;
}

.min-ht-px-60 {
	min-height: 60px;
}

.ht-pr-30 {
	height: 30%;
}
.ht-px-36 {
	height: 36px;
}

.ht-0
{
	height:0;
}
.ht-px-1
{
	height: 1px;
}
.ht-px-40 {
	height: 40px;
}
.ht-px-45 {
	height: 45px;
}
.ht-px-56 {
	height: 56px;
}
.ht-px-70 {
	height: 70px;
}
.ht-px-90 {
	height: 90px;
}
.ht-px-100 {
	height: 100px;
}
.ht-px-200 {
	height: 200px;
}
.ht-px-500 {
	height: 500px;
}
.mx-ht-px-230 {
	max-height: 230px;
}
.mx-ht-px-250 {
	max-height: 250px;
}
.mx-ht-vh-80 {
	max-height: 80vh;
}
.fx-basis-3px {
	flex: 0 0 3px;
}
.fx-basis-5px {
	flex: 0 0 5px;
}
.fx-basis-36px {
	flex: 0 0 36px;
}
.fx-basis-40px {
	flex: 0 0 40px;
}
.fx-basis-70px {
	flex: 0 0 70px;
}
.fx-basis-140px {
	flex: 0 0 140px;
}
.fx-basis-180px {
	flex: 0 0 180px;
}
.fx-basis-48pr {
	flex-basis: 48%;
}
// Margin related classes:
.mg-lr-auto {
	margin-left: auto;
	margin-right: auto;
}
.mg-tb-auto {
	margin-top: auto;
	margin-bottom: auto;
}

/* Helper classes used for absolute/fixed/relative positioned elements:
 * 'tp' => 'top', 'bt' => 'bottom', 'lt' => 'left', 'rt' => 'right',
 * The naming conventions are same as of width and heigths:
 * init here is for zero or default state half => 50%, full => 100%
 */

.tp-init {
	top: 0;
}
.bt-init {
	bottom: 0;
}
.lt-init {
	left: 0;
}
.rt-init {
	right: 0;
}

.tp-half {
	top: 50%;
}
.bt-half {
	bottom: 50%;
}
.lt-half {
	left: 50%;
}
.rt-half {
	right: 50%;
}

.tp-full {
	top: 100%;
}
.bt-full {
	bottom: 100%;
}
.lt-full {
	left: 100%;
}
.rt-full {
	right: 100%;
}

.lt-pr-4 {
	left: 4%;
}
.rt-pr-4 {
	right: 4%;
}

.bt-px-20 {
	bottom: 20px;
}
.bt-px-90{
	top: calc(100% - 90px);
}
.rt-px-160{
	left: calc(100% - 160px);
}
.lt-pr-50-px-180{
	left: calc(50% - 180px)
}
.tp-pr-50-px-250{
	top: calc(50% - 250px)
}

/* Helper classes used for applying transformations(2d) to absolute/fixed/relative positioned elements:
 */

.tf-none {
	transform: none;
}
.tf-x-none {
	transform: translateX(0);
}
.tf-y-none {
	transform: translateY(0);
}
.tf-x-y-middle {
	transform: translate(-50%, -50%);
}

//Alignments
.vt-align-baseline {
	vertical-align: baseline;
}
.vt-align-top {
	vertical-align: top;
}
.vt-align-middle {
	vertical-align: middle;
}

/* Borders
 * Border widths and styles followed up by border radius:
 */
@for $i from 1 through 7 {
	.br-wd-#{$i} {
		border-style: solid;
		border-width: $i + px;
	}
}

.br-t-1p-white-smoke {
	border-top: 1px solid #eeeded;
}
.br-b-1p-white-smoke {
	border-bottom: 1px solid #eeeded;
}
.br-b-1p-dotted-white-smoke {
	border-bottom: 1px dotted #eeeded;
}
.br-b-1p-dotted-weathered-stone {
	border-bottom: 1px dotted #c3c3c3;
}
.br-1p-ink-dk {
	border: 1px solid #000000;
}
.br-1p-pale-lavender {
	border: 1px solid #edecee;
}
.br-t-2p-pale-lavender {
	border-top: 2px solid #edecee;
}
.br-1p-brand {
	border: 1px solid #f30017;
}
.br-l-1p-pale-lavender {
	border-left: 1px solid #edecee;
}
.br-b-1p-link {
	border-bottom: 1px solid #064893;
}
.br-l-2p-blue-violet {
	border-left: 1px solid #8738d8;
}
.br-l-2p-persimmon {
	border-left: 1px solid #f35600;
}
.br-l-2p-cerulean-blue {
	border-left: 1px solid #0073ef;
}
.br-l-2p-indigo {
	border-left: 1px solid #6f00ff;
}
.br-l-2p-pure-gold {
	border-left: 1px solid #ebad00;
}
.br-l-2p-kermit-green {
	border-left: 1px solid #55bc00;
}
.br-l-2p-iris-blue {
	border-left: 1px solid #00b0bf;
}
.br-l-2p-razzmatazz {
	border-left: 1px solid #f50059;
}
.br-l-2p-windows-blue {
	border-left: 1px solid #3a63c2;
}
.br-l-2p-mountain-meadow {
	border-left: 1px solid #15b076;
}
.br-l-2p-citrus {
	border-left: 1px solid #aabb04;
}
.br-l-2p-rusty-orange {
	border-left: 1px solid #cf6313;
}
.br-l-2p-electric-purple {
	border-left: 1px solid #b500ff;
}
.br-l-2p-spark-red {
	border-left: 1px solid #f10404;
}
.br-l-2p-primary {
	border-left: 1px solid #ffffff;
}
.br-l-2p-gainsboro {
	border-left: 1px solid #dcdbdb;
}

.br-rd-20 {
	border-radius: 20px;
}
.br-rd-px-25 {
	border-radius: 25px;
}
.br-rd-px-30 {
	border-radius: 30px;
}
.br-rd-pr-50 {
	border-radius: 50%;
}

.ovr-scroll {
	overflow: scroll;
}
.ovr-y-scroll {
	overflow-y: scroll;
}

.ovr-hidden {
	overflow: hidden;
}

.touch-action-none{
	touch-action: none;
	-ms-touch-action: none;
}

.ovr-auto {
	overflow: auto;
}

.ovr-visible {
	overflow: visible;
}

.ovr-x-hidden {
	overflow-x: hidden;
}

.hide-native-scrollbar {
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		width: 0;
	}
}

.obj-fit-cover {
	object-fit: cover;
}

.obj-fit-contain {
	object-fit: contain;
}

.link-disabled {
	pointer-events: none;
}

.scroll-menu .sc-child:first-of-type {
	margin-left: 4%;
}
.scroll-menu .sc-child:last-of-type {
	margin-right: 4%;
}
.neg-mg-t-pr-15 {
	margin-top: -15%;
}

@for $i from 1 through 10 {
	.z-index-#{$i} {
		z-index: $i;
	}
}

// Opacity classes
.opacity-0 {
	opacity: 0;
}

.opacity-50
{
	opacity: 0.5;
}
.backdrop-blur-px-5 {
	backdrop-filter: blur(5px);
}

.visibility-hidden {
	visibility: hidden;
}

$aspectRatios: (
	"16-9": (
		w: 16,
		h: 9,
	),
	"9-16": (
		w: 9,
		h: 16,
	),
	"3-4": (
		w: 3,
		h: 4,
	),
	"4-3": (
		w: 4,
		h: 3,
	),
	"1-1": (
		w: 1,
		h: 1,
	),
);
.asp-ratio {
	position: relative;
	width: 100%;
}
.asp-ratio > :first-child {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.asp-r-2-3
{
  aspect-ratio: 2/3;
}
@each $key, $map in $aspectRatios {
	$ratio: map-get($aspectRatios, $key);
	$w: map-get($ratio, w);
	$h: map-get($ratio, h);
	.asp-ratio.r-#{$key} {
		padding-top: calc($h/$w) * 100%;
	}
}
@media screen and (max-width: 767px) {
	.nbrh{display:none;}
}
