// Sassy Map for positions of elements
$positions: (
	rel: relative,
	abs: absolute,
	fix: fixed,
	static: static,
	sticky: sticky,
);

@each $name, $value in $positions {
	.pos-#{$name} {
		position: $value;
	}
}
