/* Sass is made with mobile-first approach 
 * so there are no suffixes for mobile/small view
 *
 */

@mixin flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex-direction($value: row) {
	@if $value == column {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-moz-box-direction: normal;
		-moz-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
		-moz-box-direction: normal;
		-moz-box-orient: horizontal;
	}
	-webkit-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
	// No Webkit/FF Box fallback.
	-webkit-flex-wrap: $value;
	@if $value == nowrap {
		-ms-flex-wrap: none;
	} @else {
		-ms-flex-wrap: $value;
	}
	flex-wrap: $value;
}

.fx-row {
	@include flexbox();
	@include flex-direction(row);
	@include flex-wrap(wrap);
}

@mixin setup-row {
	@include border-box();
	&:before {
		display: table;
		content: " ";
		@include border-box();
	}
	&:after {
		display: table;
		content: " ";
		clear: both;
		@include border-box();
	}
}

.row {
	@include setup-row();
}

.fx-wrap {
	@include flex-wrap(wrap);
}

$gridColumns: 12;

$screenBehaviourMap: (
	"activated": "ac",
	"deactivated": "dac",
);

$screenDependentDisplays: (
	in: inline,
	bl: block,
	ib: inline-block,
	inherit: inherit,
	initial: initial,
	tb: table,
	tb-cell: table-cell,
	tb-col: table-column,
	fx: flex,
	in-fx: inline-flex,
);

/// Responsive breakpoint manager
@mixin respond-to($breakPoint) {
	@if ($breakPoint == 0) {
		@content;
	} @else {
		@media screen and (min-width: $breakPoint *1px) {
			@content;
		}
	}
}

@mixin create-screen-based-classes($modifier, $breakPoint, $gridColumns) {
	@include respond-to($breakPoint) {
		.hidden#{$modifier} {
			display: none;
		}

		@each $key, $value in $screenDependentDisplays {
			.dp#{$modifier}-#{$key} {
				display: $value;
			}
		}

		@for $i from 0 through 15 {
			.br-rd#{$modifier}-#{$i} {
				border-radius: $i + px;
			}
		}

		/* The Set Below is actually governing the specific behaviour ie activated or deactivated 
         * on a particular viewport width to avoid '-mob' suffix:
         */
		@each $key, $behaviour in $screenBehaviourMap {
			@if ($key == "activated") {
				.ext-full-wd#{$modifier}-#{$behaviour} {
					position: relative;
					width: 100vw;
					left: 50%;
					right: 50%;
					margin-left: -50vw;
					margin-right: -50vw;
				}

				.hz-scroll#{$modifier}-#{$behaviour} {
					overflow-x: scroll;
					overflow-y: hidden;
					white-space: nowrap;
					-webkit-overflow-scrolling: touch;
					-ms-overflow-style: none;
					scrollbar-width: none;
					&::-webkit-scrollbar {
						display: none;
					}
				}

				.wrapper-full-wd#{$modifier}-#{$behaviour} {
					width: 100%;
				}

				.pd-l-r-full-wd#{$modifier}-#{$behaviour} {
					padding-left: 4%;
					padding-right: 4%;
				}

				.fx-js-ct#{$modifier}-#{$behaviour} {
					justify-content: center;
				}

				.fx-js-ar#{$modifier}-#{$behaviour} {
					justify-content: space-around;
				}

				.fx-js-end#{$modifier}-#{$behaviour} {
					justify-content: end;
				}

				.fx-al-ct#{$modifier}-#{$behaviour} {
					align-items: center;
				}

				.neg-mg-lr-px-10#{$modifier}-#{$behaviour} {
					margin-left: -10px;
					margin-right: -10px;
				}
				.neg-mg-lr-px-15#{$modifier}-#{$behaviour} {
					margin-left: -15px;
					margin-right: -15px;
				}

				.fx-dr-col#{$modifier}-#{$behaviour} {
					flex-direction: column;
				}

				.fx-dr-row#{$modifier}-#{$behaviour} {
					flex-direction: row;
				}

				.fx-dr-col-rev#{$modifier}-#{$behaviour} {
					flex-direction: column-reverse;
				}

				.full-wd#{$modifier}-#{$behaviour} {
					width: 100vw;
					position: relative;
					left: 50%;
					right: 50%;
					margin-left: -50vw;
					margin-right: -50vw;
				}

				.pos-abs#{$modifier}-#{$behaviour} {
					position: absolute;
				}

				.sp-scroll-y#{$modifier}-#{$behaviour} .events-list-holder {
					scroll-snap-type: y mandatory;
					overflow-y: scroll;
				}

				.sp-scroll-y#{$modifier}-#{$behaviour} .events-list-holder > .event-card {
					scroll-snap-align: start;
				}

				.ht-full#{$modifier}-#{$behaviour} {
					height: 100%;
				}
			} @else {
				.ext-full-wd#{$modifier}-#{$behaviour} {
					position: initial;
					width: initial;
					left: initial;
					right: initial;
					margin-left: initial;
					margin-right: initial;
				}

				.hz-scroll#{$modifier}-#{$behaviour} {
					overflow-x: initial;
					overflow-y: initial;
					white-space: initial;
					-webkit-overflow-scrolling: initial;
					-ms-overflow-style: initial;
					scrollbar-width: initial;
					&::-webkit-scrollbar {
						display: initial;
					}
				}

				.wrapper-full-wd#{$modifier}-#{$behaviour} {
					width: 92%;
					max-width: 1200px;
					margin-left: auto;
					margin-right: auto;
				}

				.pd-l-r-full-wd#{$modifier}-#{$behaviour} {
					padding-left: initial;
					padding-right: initial;
				}

				.fx-js-ct#{$modifier}-#{$behaviour} {
					justify-content: initial;
				}

				.fx-js-ar#{$modifier}-#{$behaviour} {
					justify-content: initial;
				}

				.fx-js-end#{$modifier}-#{$behaviour} {
					justify-content: initial;
				}

				.fx-al-ct#{$modifier}-#{$behaviour} {
					align-items: initial;
				}

				.neg-mg-lr-px-10#{$modifier}-#{$behaviour} {
					margin-left: initial;
					margin-right: initial;
				}
				.neg-mg-lr-px-15#{$modifier}-#{$behaviour} {
					margin-left: initial;
					margin-right: initial;
				}

				.fx-dr-col#{$modifier}-#{$behaviour} {
					flex-direction: initial;
				}

				.fx-dr-row#{$modifier}-#{$behaviour} {
					flex-direction: initial;
				}
				
				.fx-dr-col-rev#{$modifier}-#{$behaviour} {
					flex-direction: initial;
				}

				.full-wd#{$modifier}-#{$behaviour} {
					width: initial;
					position: relative;
					left: initial;
					right: initial;
					margin-left: initial;
					margin-right: initial;
				}

				.pos-abs#{$modifier}-#{$behaviour} {
					position: initial;
				}

				.sp-scroll-y#{$modifier}-#{$behaviour} .events-list-holder {
					scroll-snap-type: none;
					overflow: initial;
				}

				.sp-scroll-y#{$modifier}-#{$behaviour} .events-list-holder > .event-card {
					scroll-snap-align: none;
				}

				.ht-full#{$modifier}-#{$behaviour} {
					height: initial;
				}
			}
		}

		@for $i from 0 through 30 {
			.pd-t#{$modifier}-#{$i*2} {
				padding-top: ($i * 2) + px;
			}
			.pd-b#{$modifier}-#{$i*2} {
				padding-bottom: ($i * 2) + px;
			}
			.pd-l#{$modifier}-#{$i*2} {
				padding-left: ($i * 2) + px;
			}
			.pd-r#{$modifier}-#{$i*2} {
				padding-right: ($i * 2) + px;
			}
		}

		@for $i from 0 through 30 {
			.mg-t#{$modifier}-#{$i*2} {
				margin-top: ($i * 2) + px;
			}
			.mg-b#{$modifier}-#{$i*2} {
				margin-bottom: ($i * 2) + px;
			}
			.mg-l#{$modifier}-#{$i*2} {
				margin-left: ($i * 2) + px;
			}
			.mg-r#{$modifier}-#{$i*2} {
				margin-right: ($i * 2) + px;
			}
		}

		@for $i from 1 through $gridColumns {
			.col#{$modifier}-#{$i} {
				width: calc(calc(100 / $gridColumns) * $i) * 1%;
			}
		}

		.neg-mg-l-px-14#{$modifier} {
			margin-left: -14px;
		}

		.neg-mg-l-px-18#{$modifier} {
			margin-left: -18px;
		}

		.neg-mg-l-px-24#{$modifier} {
			margin-left: -24px;
		}

		.neg-mg-l-px-28#{$modifier} {
			margin-left: -28px;
		}

		.neg-mg-t-px-10#{$modifier} {
			margin-top: -10px;
		}
	}
}

@each $modifier, $breakPoint in $screenBreakPoints {
	@include create-screen-based-classes($modifier, $breakPoint, $gridColumns);
}
