//Sass File imports:
@import "../../../utility/display";
@import "../../../utility/positions";

/*
 * Variables required to be set for the below mentioned imports to work:
 */

//Screen based sass requires screen break points map to generate screen based classes:

$screenBased: false;
$breakPt1: 0;
$breakPt2: 768;
$breakPt3: 1025;

$screenBreakPoints: (
	"": $breakPt1,
);

$primaryFontStack: "Frank Ruhl Libre", Helvetica, Arial, sans-serif;
$secondaryFontStack: "Caladea", Georgia, "Times New Roman", serif;
$tertiaryFontStack: "Inter", Helvetica, Arial, sans-serif;

@import "../../../utility/screen-based";
@import "../../../utility/general";
@import "../../../utility/typography/typography-en";
@import "../../../utility/custom/trivial";
@import "../../../utility/animations";

@include screen-based-typography($screenBased);
@include screen-based-trivial($screenBased);
