@charset "UTF-8";
@font-face {
  font-family: "webpage-icons";
  src:url("fonts/webpage-icons.eot");
  src:url("fonts/webpage-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/webpage-icons.woff") format("woff"),
    url("fonts/webpage-icons.ttf") format("truetype"),
    url("fonts/webpage-icons.svg#webpage-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[data-icon]:before {
  font-family: "webpage-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="nb-icon-"]:before,
[class*=" nb-icon-"]:before {
  font-family: "webpage-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nb-icon-stethoscope:before {content: "\61";}
.nb-icon-die-six:before {content: "\62";}
.nb-icon-youtube:before {content: "\63";}
.nb-icon-link-pwa:before {content: "\64";}
.nb-icon-search-mobile-header:before {content: "\65";}
.nb-icon-category-pwa:before {content: "\66";}
.nb-icon-menu:before {content: "\67";}
.nb-icon-more:before {content: "\68";}
.nb-icon-search-pwa:before {content: "\69";}
.nb-icon-profile-pwa:before {content: "\6a";}
.nb-icon-offline:before {content: "\6b";}
.nb-icon-os:before {content: "\6c";}
.nb-icon-hike:before {content: "\6d";}
.nb-icon-price:before {content: "\6f";}
.nb-icon-processor:before {content: "\70";}
.nb-icon-ram:before {content: "\71";}
.nb-icon-screen-size:before {content: "\72";}
.nb-icon-search:before {content: "\73";}
.nb-icon-sort:before {content: "\74";}
.nb-icon-down-pwa:before {content: "\75";}
.nb-icon-back-pwa:before {content: "\76";}
.nb-icon-instagram:before {content: "\77";}
.nb-icon-clap:before {content: "\78";}
.nb-icon-charge:before {content: "\79";}
.nb-icon-camera:before {content: "\7a";}
.nb-icon-playstore:before {content: "\41";}
.nb-icon-bot:before {content: "\42";}
.nb-icon-home-pwa:before {content: "\43";}
.nb-icon-mail:before {content: "\44";}
.nb-icon-accept:before {content: "\6e";}
.nb-icon-arrow-forward:before {content: "\45";}
.nb-icon-arrow-next:before {content: "\46";}
.nb-icon-drop-more:before {content: "\47";}
.nb-icon-external-link:before {content: "\48";}
.nb-icon-social-share:before {content: "\49";}
.nb-icon-cancel-thin:before {content: "\4a";}
.nb-icon-video-play-button:before {content: "\4b";}
.nb-icon-picture-credit:before {content: "\4c";}
.nb-icon-post:before {content: "\4d";}
.nb-icon-cancel:before {content: "\4e";}
.nb-icon-pledge:before {content: "\4f";}
.nb-icon-arrow-forward-thick:before {content: "\50";}
.nb-icon-hidden:before {content: "\51";}
.nb-icon-arrow-backward-thick:before {content: "\52";}
.nb-icon-small-left:before {content: "\53";}
.nb-icon-small-right:before {content: "\54";}
.nb-icon-director:before {content: "\55";}
.nb-icon-starcast:before {content: "\56";}
.nb-icon-video-play-square:before {content: "\57";}
.nb-icon-quiz:before {content: "\58";}
.nb-icon-star:before {content: "\59";}
.nb-icon-facebook:before {content: "\5a";}
.nb-icon-twitter:before {content: "\30";}
.nb-icon-linkedin:before {content: "\31";}
.nb-icon-bookmark-selected:before {content: "\32";}
.nb-icon-bookmark:before {content: "\33";}
.nb-icon-star-half:before {content: "\34";}
.nb-icon-star-o:before {content: "\35";}
.nb-icon-whatsapp:before {content: "\36";}
.nb-icon-info-circled:before {content: "\37";}
.nb-icon-angle-down:before {content: "\38";}
.nb-icon-share-arrow:before {content: "\39";}
.nb-icon-star-half:before {content: "\34";}
.nb-icon-down-thin:before {content: "\22";}
.nb-icon-up-thin:before {content: "\23";}
.nb-icon-share:before {content: "\21";}