/* @charset "UTF-8"; */

@font-face {
  font-family: "webpage-icons";
  src:url("/css/fonts/webpage-icons.6.eot");
  src:url("/css/fonts/webpage-icons.6.eot?#iefix") format("embedded-opentype"),
  url("/css/fonts/webpage-icons.6.woff") format("woff"),
  url("/css/fonts/webpage-icons.6.ttf") format("truetype"),
  url("/css/fonts/webpage-icons.6.svg#webpage-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[data-icon]:before {
  font-family: "webpage-icons";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="nb-icon-"]:before,
[class*=" nb-icon-"]:before {
  font-family: "webpage-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
.nb-icon-camera:before {
  content: "\61";
}
.nb-icon-charge:before {
  content: "\62";
}
.nb-icon-menu:before {
  content: "\63";
}
.nb-icon-os:before {
  content: "\65";
}
.nb-icon-price:before {
  content: "\66";
}
.nb-icon-processor:before {
  content: "\67";
}
.nb-icon-screen-size:before {
  content: "\68";
}
.nb-icon-search:before {
  content: "\69";
}
.nb-icon-sort:before {
  content: "\6a";
}
.nb-icon-ram:before {
  content: "\6b";
}
.nb-icon-angle-down:before {
  content: "\6c";
}
.nb-icon-star:before {
  content: "\6d";
}
.nb-icon-bot-icon:before {
  content: "\6e";
}
.nb-icon-facebook:before {
  content: "\6f";
}
.nb-icon-twitter:before {
  content: "\70";
}
.nb-icon-linkedin:before {
  content: "\71";
}
.nb-icon-bookmark-selected:before {
  content: "\72";
}
.nb-icon-bookmark:before {
  content: "\73";
}
.nb-icon-star-half:before {
  content: "\75";
}
.nb-icon-star-o:before {
  content: "\76";
}
.nb-icon-share:before {
  content: "\77";
}
.nb-icon-whatsapp:before {
  content: "\78";
}
.nb-icon-clap:before {
  content: "\42";
}
.nb-icon-playstore:before {
  content: "\41";
}
.nb-icon-offline:before {
  content: "\43";
}
.nb-icon-more:before {
  content: "\64";
}
.nb-icon-hike:before {
  content: "\74";
}
.nb-icon-category-pwa:before {
  content: "\44";
}
.nb-icon-search-pwa:before {
  content: "\45";
}
.nb-icon-profile-pwa:before {
  content: "\46";
}
.nb-icon-home-pwa:before {
  content: "\47";
}
.nb-icon-down-pwa:before {
  content: "\48";
}
.nb-icon-back-pwa:before {
  content: "\49";
}
.nb-icon-link-pwa:before {
  content: "\4a";
}
.nb-icon-search-mobile-header:before {
  content: "\79";
}
.nb-icon-youtube:before {
  content: "\4b";
}
.nb-icon-instagram:before {
  content: "\4c";
}
.nb-icon-mail:before {
  content: "\4d";
}
.nb-icon-info-circled:before {
  content: "\4e";
}
.nb-icon-arrow-next:before {
  content: "\4f";
}
.nb-icon-external-link:before {
  content: "\50";
}
.nb-icon-drop-more:before {
  content: "\51";
}
.nb-icon-social-share:before {
  content: "\52";
}
.nb-icon-arrow-forward:before {
  content: "\53";
}
.nb-icon-cancel:before {
  content: "\7a";
}
.nb-icon-cancel-thin:before {
  content: "\54";
}
.nb-icon-accept:before {
  content: "\55";
}
.nb-icon-post:before {
  content: "\56";
}
.nb-icon-picture-credit:before {
  content: "\57";
}
.nb-icon-video-play-button:before {
  content: "\58";
}