/* These are the basic set of text colors and background colors used in
 * default or the main theme.
 *
 * Variables used :
 * $clPrefix => 'cl' // 'cl' here is just prefix for the class name.
 * $bgClPrefix => 'bg' // 'bg' here is just prefix for the class name.
 *
 * Short Forms used:
 * 'lt' => 'light', 'dk' => 'dark'
 */

$clPrefix: "cl";
$bgClPrefix: "bg";
$fillPrefix: "fill";

/* Colors */

.#{$clPrefix}-brand {
	color: #f30017;
}
.#{$clPrefix}-venetian-red {
	color: #C7091B;
}
.#{$clPrefix}-primary {
	color: #ffffff;
}
.#{$clPrefix}-accent {
	color: #0053b3;
}
.#{$clPrefix}-success {
	color: #00b18b;
}
.#{$clPrefix}-error {
	color: #ee5072;
}
.#{$clPrefix}-warning {
	color: #c89b0b;
}
.#{$clPrefix}-ink-dk {
	color: #000000;
}
.#{$clPrefix}-night-rider {
	color: #333333;
}
.#{$clPrefix}-nero {
	color: #181818;
}
.#{$clPrefix}-lt {
	color: #222222;
}
.#{$clPrefix}-link {
	color: #064893;
}
.#{$clPrefix}-lt-grey {
	color: #edecee;
}
.#{$clPrefix}-jungle-mist {
	color: #bec8c9;
}
.#{$clPrefix}-dove-grey {
	color:#6e6d6d;
}
.#{$clPrefix}-transparent {
	color: transparent;
}
.#{$clPrefix}-white-smoke {
	color: #eeeded;
}

.#{$clPrefix}-blue-violet {
	color: #8738d8;
}
.#{$clPrefix}-persimmon {
	color: #f35600;
}
.#{$clPrefix}-cerulean-blue {
	color: #0073ef;
}
.#{$clPrefix}-indigo {
	color: #6f00ff;
}
.#{$clPrefix}-pure-gold {
	color: #ebad00;
}
.#{$clPrefix}-kermit-green {
	color: #55bc00;
}
.#{$clPrefix}-iris-blue {
	color: #00b0bf;
}
.#{$clPrefix}-razzmatazz {
	color: #f50059;
}
.#{$clPrefix}-windows-blue {
	color: #3a63c2;
}
.#{$clPrefix}-mountain-meadow {
	color: #15b076;
}
.#{$clPrefix}-citrus {
	color: #aabb04;
}
.#{$clPrefix}-rusty-orange {
	color: #cf6313;
}
.#{$clPrefix}-electric-purple {
	color: #b500ff;
}
.#{$clPrefix}-spark-red {
	color: #f10404;
}
.#{$clPrefix}-acadia {
	color: #4d4d4d;
}
.#{$clPrefix}-suva-grey {
	color: #8b8b8b;
}
.#{$clPrefix}-lavender {
	color: #fbfbfe;
}
.#{$clPrefix}-sunset-orange {
	color: #fc4b4b;
}
.#{$clPrefix}-blumine {
	color: #36546e;
}
.#{$clPrefix}-sweet-pink {
	color: #efa88e;
}
.#{$clPrefix}-froly {
	color: #e47279;
}
.#{$clPrefix}-tangerine-yellow {
	color: #ffcb00;
}

.#{$clPrefix}-blue-violet-lt {
	color: #f6f1fc;
}
.#{$clPrefix}-persimmon-lt {
	color: #fef3ed;
}
.#{$clPrefix}-cerulean-blue-lt {
	color: #edf5fe;
}
.#{$clPrefix}-indigo-lt {
	color: #f5edff;
}
.#{$clPrefix}-pure-gold-lt {
	color: #fdf9ed;
}
.#{$clPrefix}-kermit-green-lt {
	color: #f3faed;
}
.#{$clPrefix}-iris-blue-lt {
	color: #edf9fa;
}
.#{$clPrefix}-razzmatazz-lt {
	color: #feedf3;
}
.#{$clPrefix}-windows-blue-lt {
	color: #e4ebfe;
}
.#{$clPrefix}-mountain-meadow-lt {
	color: #e8fff6;
}
.#{$clPrefix}-citrus-lt {
	color: #fafde1;
}
.#{$clPrefix}-rusty-orange-lt {
	color: #fff1e6;
}
.#{$clPrefix}-electric-purple-lt {
	color: #fbf1ff;
}
.#{$clPrefix}-spark-red-lt {
	color: #ffe9eb;
}

.#{$clPrefix}-blue-violet-dk {
	color: #45008c;
}
.#{$clPrefix}-persimmon-dk {
	color: #7e2d01;
}
.#{$clPrefix}-cerulean-blue-dk {
	color: #004793;
}
.#{$clPrefix}-indigo-dk {
	color: #410096;
}
.#{$clPrefix}-pure-gold-dk {
	color: #574000;
}
.#{$clPrefix}-kermit-green-dk {
	color: #275601;
}
.#{$clPrefix}-iris-blue-dk {
	color: #004852;
}
.#{$clPrefix}-razzmatazz-dk {
	color: #81002f;
}
.#{$clPrefix}-windows-blue-dk {
	color: #00267f;
}
.#{$clPrefix}-mountain-meadow-dk {
	color: #005434;
}
.#{$clPrefix}-citrus-dk {
	color: #464d00;
}
.#{$clPrefix}-rusty-orange-dk {
	color: #6f2f00;
}
.#{$clPrefix}-electric-purple-dk {
	color: #43005e;
}
.#{$clPrefix}-spark-red-dk {
	color: #a50010;
}

/* Background Colors */

.#{$bgClPrefix}-venetian-red {
	background-color: #C7091B;
}
.#{$bgClPrefix}-primary {
	background-color: #ffffff;
}
.#{$bgClPrefix}-accent {
	background-color: #0053b3;
}
.#{$bgClPrefix}-success {
	background-color: #00b18b;
}
.#{$bgClPrefix}-error {
	background-color: #ee5072;
}
.#{$bgClPrefix}-warning {
	background-color: #c89b0b;
}
.#{$bgClPrefix}-ink-dk {
	background-color: #000000;
}
.#{$bgClPrefix}-night-rider {
	background-color: #333333;
}
.#{$bgClPrefix}-nero {
	background-color: #181818;
}
.#{$bgClPrefix}-lt {
	background-color: #4d4d4d;
}
.#{$bgClPrefix}-link {
	background-color: #1973d4;
}
.#{$bgClPrefix}-body {
	background-color: #f7f7f7;
}
.#{$bgClPrefix}-pure-white {
	background-color: #ffffff;
}
.#{$bgClPrefix}-lt-grey {
	background-color: #edecee;
}
.#{$bgClPrefix}-dove-grey {
	background-color: #6e6d6d;
}
.#{$bgClPrefix}-jungle-mist {
	background-color: #bec8c9;
}
.#{$bgClPrefix}-alice-blue {
	background-color: #edf5ff;
}
.#{$bgClPrefix}-transparent {
	background-color: transparent;
}
.#{$bgClPrefix}-white-smoke {
	background-color: #eeeded;
}
.#{$bgClPrefix}-red {
	background-color: #d50704;
}

.#{$bgClPrefix}-blue-violet {
	background-color: #8738d8;
}
.#{$bgClPrefix}-persimmon {
	background-color: #f35600;
}
.#{$bgClPrefix}-cerulean-blue {
	background-color: #0073ef;
}
.#{$bgClPrefix}-indigo {
	background-color: #6f00ff;
}
.#{$bgClPrefix}-pure-gold {
	background-color: #ebad00;
}
.#{$bgClPrefix}-kermit-green {
	background-color: #55bc00;
}
.#{$bgClPrefix}-iris-blue {
	background-color: #00b0bf;
}
.#{$bgClPrefix}-razzmatazz {
	background-color: #f50059;
}
.#{$bgClPrefix}-windows-blue {
	background-color: #3a63c2;
}
.#{$bgClPrefix}-mountain-meadow {
	background-color: #15b076;
}
.#{$bgClPrefix}-citrus {
	background-color: #aabb04;
}
.#{$bgClPrefix}-rusty-orange {
	background-color: #cf6313;
}
.#{$bgClPrefix}-electric-purple {
	background-color: #b500ff;
}
.#{$bgClPrefix}-spark-red {
	background-color: #f10404;
}
.#{$bgClPrefix}-acadia {
	background-color: #4d4d4d;
}
.#{$bgClPrefix}-suva-grey {
	background-color: #8b8b8b;
}
.#{$bgClPrefix}-lavender {
	background-color: #fbfbfe;
}
.#{$bgClPrefix}-sunset-orange {
	background-color: #fc4b4b;
}
.#{$bgClPrefix}-blumine {
	background-color: #36546e;
}
.#{$bgClPrefix}-sweet-pink {
	background-color: #efa88e;
}
.#{$bgClPrefix}-froly {
	background-color: #e47279;
}
.#{$bgClPrefix}-tangerine-yellow {
	background-color: #ffcb00;
}
.#{$bgClPrefix}-accept-green {
	background-color: #0f9d58;
}
.#{$bgClPrefix}-incorrect-red {
	background-color: #f13c3c;
}
.#{$bgClPrefix}-safety-yellow {
	background-color: #f6c700;
}
.#{$bgClPrefix}-blue-violet-lt {
	background-color: #f6f1fc;
}
.#{$bgClPrefix}-persimmon-lt {
	background-color: #fef3ed;
}
.#{$bgClPrefix}-cerulean-blue-lt {
	background-color: #edf5fe;
}
.#{$bgClPrefix}-indigo-lt {
	background-color: #f5edff;
}
.#{$bgClPrefix}-pure-gold-lt {
	background-color: #fdf9ed;
}
.#{$bgClPrefix}-kermit-green-lt {
	background-color: #f3faed;
}
.#{$bgClPrefix}-silver-lt {
	background-color: #d8d8d8;
}
.#{$bgClPrefix}-iris-blue-lt {
	background-color: #edf9fa;
}
.#{$bgClPrefix}-razzmatazz-lt {
	background-color: #feedf3;
}
.#{$bgClPrefix}-windows-blue-lt {
	background-color: #e4ebfe;
}
.#{$bgClPrefix}-mountain-meadow-lt {
	background-color: #e8fff6;
}
.#{$bgClPrefix}-citrus-lt {
	background-color: #fafde1;
}
.#{$bgClPrefix}-rusty-orange-lt {
	background-color: #fff1e6;
}
.#{$bgClPrefix}-electric-purple-lt {
	background-color: #fbf1ff;
}
.#{$bgClPrefix}-spark-red-lt {
	background-color: #ffe9eb;
}
.#{$bgClPrefix}-red-lt {
	background-color: #c7091b;
}

.#{$bgClPrefix}-blue-violet-dk {
	background-color: #45008c;
}
.#{$bgClPrefix}-persimmon-dk {
	background-color: #7e2d01;
}
.#{$bgClPrefix}-cerulean-blue-dk {
	background-color: #004793;
}
.#{$bgClPrefix}-indigo-dk {
	background-color: #410096;
}
.#{$bgClPrefix}-pure-gold-dk {
	background-color: #574000;
}
.#{$bgClPrefix}-kermit-green-dk {
	background-color: #275601;
}
.#{$bgClPrefix}-iris-blue-dk {
	background-color: #004852;
}
.#{$bgClPrefix}-razzmatazz-dk {
	background-color: #81002f;
}
.#{$bgClPrefix}-windows-blue-dk {
	background-color: #00267f;
}
.#{$bgClPrefix}-mountain-meadow-dk {
	background-color: #005434;
}
.#{$bgClPrefix}-citrus-dk {
	background-color: #464d00;
}
.#{$bgClPrefix}-rusty-orange-dk {
	background-color: #6f2f00;
}
.#{$bgClPrefix}-electric-purple-dk {
	background-color: #43005e;
}
.#{$bgClPrefix}-spark-red-dk {
	background-color: #a50010;
}
.#{$bgClPrefix}-facebook {
	background-color: #32529f;
}
.#{$bgClPrefix}-whatsapp {
	background-color: #25d366;
}
.#{$bgClPrefix}-twitter {
	background-color: #1da1f2;
}
.#{$bgClPrefix}-linkedin {
	background-color: #0077b5;
}
.#{$bgClPrefix}-brand {
	background-color: #f30017;
}
.#{$bgClPrefix}-brand-dk {
	background-color: #f30017;
}
.#{$bgClPrefix}-lt-red {
	background-color: #ffeff0;
}

/* Fill colors*/
.#{$fillPrefix}-blue-violet {
	fill: #8738d8;
}
.#{$fillPrefix}-persimmon {
	fill: #f35600;
}
.#{$fillPrefix}-cerulean-blue {
	fill: #0073ef;
}
.#{$fillPrefix}-indigo {
	fill: #6f00ff;
}
.#{$fillPrefix}-pure-gold {
	fill: #ebad00;
}
.#{$fillPrefix}-kermit-green {
	fill: #55bc00;
}
.#{$fillPrefix}-iris-blue {
	fill: #00b0bf;
}
.#{$fillPrefix}-razzmatazz {
	fill: #f50059;
}
.#{$fillPrefix}-windows-blue {
	fill: #3a63c2;
}
.#{$fillPrefix}-mountain-meadow {
	fill: #15b076;
}
.#{$fillPrefix}-citrus {
	fill: #aabb04;
}
.#{$fillPrefix}-rusty-orange {
	fill: #cf6313;
}
.#{$fillPrefix}-electric-purple {
	fill: #b500ff;
}
.#{$fillPrefix}-spark-red {
	fill: #f10404;
}
