/* These are the basic set of tints and gradients used in
 * default or the main theme.
 *
 * Variables used :
 * $gdPrefix => 'gd' // 'gd' here is just prefix for the class name.
 *
 */

$gdPrefix: "gd";

/* Gradient Tints and Solid tints
 *
 * type-tint-color-color1-color1'Opacity'-color2-color2'Opacity'....
 *
 */

.#{$gdPrefix}-tint-black-black0-black100 {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.#{$gdPrefix}-tint-lavender-pl-lavender0-lavender100 {
	background: linear-gradient(180deg, rgba(237, 236, 238, 0) 1%, #edecee 100%);
}
.#{$gdPrefix}-tint-white-white0-white100 {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-white-white0-white100-half {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-white-white0-white100-half-1 {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}
.#{$gdPrefix}-tint-white-white0-white100-neg-half {
	background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-white-smoke-white-smoke0-white-smoke100-half {
	background: linear-gradient(90deg, rgba(247, 247, 247, 0) 0%, #f7f7f7 100%);
}
.#{$gdPrefix}-tint-white-smoke-white-smoke0-white-smoke100-neg-half {
	background: linear-gradient(-90deg, rgba(247, 247, 247, 0) 0%, #f7f7f7 100%);
}
.#{$gdPrefix}-tint-chiffon-green-chiffon-green0-chiffon-green100 {
	background: linear-gradient(135deg, #f3fed0 0%, #cbeaaa 100%);
}
.#{$gdPrefix}-tint-white-solitude0-white100 {
	background: linear-gradient(180deg, #e8ebf0 0%, #ffffff 100%);
}

.#{$gdPrefix}-tint-blue-violet-lt-blue-violet0-blue-violet100 {
	background: linear-gradient(180deg, #ffffff 0%, #f6f1fc 100%);
}
.#{$gdPrefix}-tint-persimmon-lt-persimmon0-persimmon100 {
	background: linear-gradient(180deg, #ffffff 0%, #fef3ed 100%);
}
.#{$gdPrefix}-tint-cerulean-blue-lt-cerulean-blue0-cerulean-blue100 {
	background: linear-gradient(180deg, #ffffff 0%, #edf5fe 100%);
}
.#{$gdPrefix}-tint-indigo-lt-indigo0-indigo100 {
	background: linear-gradient(180deg, #ffffff 0%, #f5edff 100%);
}
.#{$gdPrefix}-tint-pure-gold-lt-pure-gold0-pure-gold100 {
	background: linear-gradient(180deg, #ffffff 0%, #fdf9ed 100%);
}
.#{$gdPrefix}-tint-kermit-green-lt-kermit-green0-kermit-green100 {
	background: linear-gradient(180deg, #ffffff 0%, #f3faed 100%);
}
.#{$gdPrefix}-tint-iris-blue-lt-iris-blue0-iris-blue100 {
	background: linear-gradient(180deg, #ffffff 0%, #edf9fa 100%);
}
.#{$gdPrefix}-tint-razzmatazz-lt-razzmatazz0-razzmatazz100 {
	background: linear-gradient(180deg, #ffffff 0%, #feedf3 100%);
}
.#{$gdPrefix}-tint-windows-blue-lt-windows-blue0-windows-blue100 {
	background: linear-gradient(180deg, #ffffff 0%, #e4ebfe 100%);
}
.#{$gdPrefix}-tint-mountain-meadow-lt-mountain-meadow0-mountain-meadow100 {
	background: linear-gradient(180deg, #ffffff 0%, #e8fff6 100%);
}
.#{$gdPrefix}-tint-citrus-lt-citrus0-citrus100 {
	background: linear-gradient(180deg, #ffffff 0%, #fafde1 100%);
}
.#{$gdPrefix}-tint-rusty-orange-lt-rusty-orange0-rusty-orange100 {
	background: linear-gradient(180deg, #ffffff 0%, #fff1e6 100%);
}
.#{$gdPrefix}-tint-electric-purple-lt-electric-purple0-electric-purple100 {
	background: linear-gradient(180deg, #ffffff 0%, #fbf1ff 100%);
}
.#{$gdPrefix}-tint-spark-red-lt-spark-red0-spark-red100 {
	background: linear-gradient(180deg, #ffffff 0%, #ffe9eb 100%);
}

.#{$gdPrefix}-tint-rev-blue-violet-lt-blue-violet0-blue-violet100 {
	background: linear-gradient(180deg, #f6f1fc 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-rev-persimmon-lt-persimmon0-persimmon100 {
	background: linear-gradient(180deg, #fef3ed 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-rev-cerulean-blue-lt-cerulean-blue0-cerulean-blue100 {
	background: linear-gradient(180deg, #edf5fe 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-rev-indigo-lt-indigo0-indigo100 {
	background: linear-gradient(180deg, #f5edff 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-rev-pure-gold-lt-pure-gold0-pure-gold100 {
	background: linear-gradient(180deg, #fdf9ed 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-rev-kermit-green-lt-kermit-green0-kermit-green100 {
	background: linear-gradient(180deg, #f3faed 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-rev-iris-blue-lt-iris-blue0-iris-blue100 {
	background: linear-gradient(180deg, #edf9fa 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-rev-razzmatazz-lt-razzmatazz0-razzmatazz100 {
	background: linear-gradient(180deg, #feedf3 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-rev-windows-blue-lt-windows-blue0-windows-blue100 {
	background: linear-gradient(180deg, #e4ebfe 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-rev-mountain-meadow-lt-mountain-meadow0-mountain-meadow100 {
	background: linear-gradient(180deg, #e8fff6 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-rev-citrus-lt-citrus0-citrus100 {
	background: linear-gradient(180deg, #fafde1 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-rev-rusty-orange-lt-rusty-orange0-rusty-orange100 {
	background: linear-gradient(180deg, #fff1e6 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-rev-electric-purple-lt-electric-purple0-electric-purple100 {
	background: linear-gradient(180deg, #fbf1ff 0%, #ffffff 100%);
}
.#{$gdPrefix}-tint-rev-spark-red-lt-spark-red0-spark-red100 {
	background: linear-gradient(180deg, #ffe9eb 0%, #ffffff 100%);
}

.solid-tint-black-black20 {
	background: rgba(0, 0, 0, 0.2);
}
.solid-tint-black-black30 {
	background: rgba(0, 0, 0, 0.3);
}
.solid-tint-black-black40 {
	background: rgba(0, 0, 0, 0.4);
}
.solid-tint-black-black50 {
	background: rgba(0, 0, 0, 0.5);
}
.solid-tint-black-black60 {
	background: rgba(0, 0, 0, 0.6);
}
.solid-tint-black-black70 {
	background: rgba(0, 0, 0, 0.7);
}
.solid-tint-black-black80 {
	background: rgba(0, 0, 0, 0.8);
}
.solid-tint-black-black90 {
	background: rgba(0, 0, 0, 0.9);
}

.solid-tint-white-white80 {
	background: rgba(255, 255, 255, 0.8);
}
.solid-tint-corn-silk-chiffon {
	background: linear-gradient(99deg, #fffbdf, #fffdbc);
}

.solid-tint-lily-white-gray-nurse {
	background: linear-gradient(135deg, #f2f6f2 0%, #e9ede9 100%);
}
.solid-tint-froly {
	background: linear-gradient(135deg, #e36d70 0%, #96080d 100%);
}
.solid-tint-fiord {
	background: linear-gradient(135deg, #53646f 0%, #191b20 100%);
}
.solid-tint-brandy-rose {
	background: linear-gradient(135deg, #b48782 0%, #8c7070 100%);
}
.solid-tint-san-juan {
	background: linear-gradient(135deg, #3f5d64 0%, #283b3f 100%);
}
.solid-tint-bright-red {
	background: linear-gradient(112deg, #f60000 0%, #f60000 100%);
}