.box-shdw-drdown-content-box {
	box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
}
.box-shdw-media-obj {
	box-shadow: 0 20px 50px -15px rgba(0, 0, 0, 0.2);
}
.box-shdw-reaction-widget {
	box-shadow: 0 -2px 22px 0 rgba(0, 0, 0, 0.06);
}
.box-shdw-header {
	box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.06);
}
.text-shdw-evt-card {
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}
