//Sass File imports:
@import "../../utility/display";
@import "../../utility/positions";

/*
 * Variables required to be set for the below mentioned imports to work:
 */

//Screen based sass requires screen break points map to generate screen based classes:

$screenBased: true;
$breakPt1: 0;
$breakPt2: 768;
$breakPt3: 1025;

$screenBreakPoints: (
	"": $breakPt1,
	"-md": $breakPt2,
	"-lg": $breakPt3,
);

$primaryFontStack: "Frank Ruhl Libre", Helvetica, Arial, sans-serif;
$secondaryFontStack: "Caladea", Georgia, "Times New Roman", serif;
$tertiaryFontStack: "Inter", Helvetica, Arial, sans-serif;

$primaryFontStackSystem: Helvetica;
$secondaryFontStackSystem: Georgia;
$tertiaryFontStackSystem: Helvetica;

@import "../../utility/screen-based";
@import "../../utility/general";
@import "../../utility/typography/typography-th";
@import "../../utility/custom/trivial";
@import "../../utility/animations";

@include screen-based-typography($screenBased);
@include screen-based-trivial($screenBased);
