/* Typography set is divided into primary, secondary and tertiary ones
 * Primary Font Stack => Frank Ruhl Libre [Font weights in use : Bold 500]
 * Secondary Font Stack => Caladea [Font weights in use : Bold 700, Regular 400]
 * Tertiary Font Stack => Inter [Font weights in use : Bold 600, Regular 400]
 */

$primaryFontStackSystem: Helvetica;
$secondaryFontStackSystem: Georgia;
$tertiaryFontStackSystem: Helvetica;

html.fonts-loaded {
    .ft-pr {
        font-family: $primaryFontStack;
    }
    .ft-sec {
        font-family: $secondaryFontStack;
    }
    .ft-ter {
        font-family: $tertiaryFontStack;
    }
}

@media screen and (min-width: $breakPt2 + px) {
    .ft-pr {
        font-family: $primaryFontStack;
    }
    .ft-sec {
        font-family: $secondaryFontStack;
    }
    .ft-ter {
        font-family: $tertiaryFontStack;
    }
}

@media screen and (min-width: $breakPt3 + px) {
    .ft-pr {
        font-family: $primaryFontStack;
    }
    .ft-sec {
        font-family: $secondaryFontStack;
    }
    .ft-ter {
        font-family: $tertiaryFontStack;
    }
}

@media screen and (max-width: $breakPt2 + px) {
    .ft-pr {
        font-family: $primaryFontStackSystem;
    }
    .ft-sec {
        font-family: $secondaryFontStackSystem;
    }
    .ft-ter {
        font-family: $tertiaryFontStackSystem;
    }
}

@for $i from 0 through 60 {
    .fz-#{$i} {
        font-size: $i + px;
    }
}

// Primary set of classes for Bold

html.fonts-loaded {
    .bd-1 {
        font-size: calc(min(3vw, 12px));
        line-height: 16px;
        font-weight: 500;
        letter-spacing: 0;
    }

    .bd-2 {
        font-size: calc(min(4vw, 14px));
        line-height: 18px;
        font-weight: 500;
        letter-spacing: 0;
    }

    .bd-3 {
        font-size: calc(min(5vw, 16px));
        line-height: 20px;
        font-weight: 500;
        letter-spacing: 0;
    }

    .bd-4 {
        font-size: calc(min(5vw, 18px));
        line-height: 22px;
        font-weight: 500;
        letter-spacing: 0;
    }

    .bd-5 {
        font-size: calc(min(5vw,20px));
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0;
    }

    .bd-6 {
        font-size: calc(min(6vw, 20px));
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0;
    }

    .bd-7 {
        font-size: calc(min(6vw, 20px));
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0;
    }

    .bd-8 {
        font-size: calc(min(6vw,24px));
        line-height: 28px;
        font-weight: 600;
        letter-spacing: 0;
    }

    .bd-9 {
        font-size: calc(min(7vw,28px));
        line-height: 30px;
        font-weight: 600;
        letter-spacing: 0;
    }
}


.bd-1 {
    font-size: calc(min(3vw, 12px));
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0;
}

.bd-2 {
    font-size: calc(min(4vw, 14px));
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 0;
}

.bd-3 {
    font-size: calc(min(5vw, 16px));
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0;
}

.bd-4 {
    font-size: calc(min(5vw, 18px));
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 0;
}

.bd-5 {
    font-size: calc(min(6vw, 20px));
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0;
}

.bd-6 {
    font-size: calc(min(6vw, 20px));
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0;
}

.bd-7 {
    font-size: calc(min(6vw, 20px));
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0;
}

.bd-8 {
    font-size: calc(min(6vw,24px));
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 0;
}

.bd-9 {
    font-size: calc(min(7vw,27px));
    line-height: 32px;
    font-weight: 600;
    letter-spacing: 0;
}

// Secondary set of classes for Bold

.sec-bd-1 {
    font-size: calc(min(3vw, 12px));
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0;
}

.sec-bd-2 {
    font-size: calc(min(4vw, 14px));
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0;
}

.sec-bd-3 {
    font-size: calc(min(5vw, 16px));
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0;
}

.sec-bd-4 {
    font-size: calc(min(5vw, 20px));
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0;
}

.sec-bd-5 {
    font-size: calc(min(6vw, 22px));
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0;
}

.sec-bd-6 {
    font-size: calc(min(6vw, 22px));
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0;
}

// Secondary set of classes for Regular

.sec-reg-1 {
    font-size: calc(min(3vw, 12px));
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0;
}

.sec-reg-2 {
    font-size: calc(min(4vw, 14px));
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0;
}

.sec-reg-3 {
    font-size: calc(min(5vw, 16px));
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0;
}

.sec-reg-4 {
    font-size: calc(min(5vw, 18px));
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0;
}

.sec-reg-5 {
    font-size: calc(min(6vw, 20px));
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0;
}

.sec-reg-6 {
    font-size: calc(min(6vw, 20px));
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0;
}

// Tertiary set of classes for Bold

.ter-bd-1 {
    font-size: calc(min(3vw, 12px));
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0;
}

.ter-bd-2 {
    font-size: calc(min(4vw, 14px));
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 0;
}

.ter-bd-3 {
    font-size: calc(min(5vw, 16px));
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0;
}

.ter-bd-4 {
    font-size: calc(min(5vw, 18px));
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 0;
}

.ter-bd-5 {
    font-size: calc(min(6vw, 20px));
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0;
}

.ter-bd-6 {
    font-size: calc(min(6vw, 22px));
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0;
}

.ter-bd-7 {
    font-size: calc(min(6vw, 22px));
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0;
}

// Tertiary set of classes for Regular

.ter-reg-1 {
    font-size: calc(min(3vw, 12px));
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0;
}

.ter-reg-2 {
    font-size: calc(min(4vw, 14px));
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0;
}

.ter-reg-3 {
    font-size: calc(min(5vw, 16px));
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0;
}

.ter-reg-4 {
    font-size: calc(min(5vw, 18px));
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0;
}

.ter-reg-5 {
    font-size: calc(min(6vw, 20px));
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
}

.ter-reg-6 {
    font-size: calc(min(6vw, 22px));
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0;
}

.ter-reg-7 {
    font-size: calc(min(6vw, 22px));
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0;
}

// Text Alignment:
.tx-lt {
    text-align: left;
}
.tx-ct {
    text-align: center;
}
.tx-rt {
    text-align: right;
}

@mixin screen-based-typography($screenBased) {
    @if $screenBased {
        @media screen and (min-width: $breakPt2 + px) {
            html.fonts-loaded {
                .md-bd-1 {
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 500;
                    letter-spacing: 0;
                }

                .md-bd-2 {
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 500;
                    letter-spacing: 0;
                }

                .md-bd-3 {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    letter-spacing: 0;
                }

                .md-bd-4 {
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 500;
                    letter-spacing: 0;
                }

                .md-bd-5 {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 500;
                    letter-spacing: 0;
                }

                .md-bd-6 {
                    font-size: 24px;
                    line-height: 28px;
                    font-weight: 500;
                    letter-spacing: 0;
                }

                .md-bd-7 {
                    font-size: 26px;
                    line-height: 30px;
                    font-weight: 500;
                    letter-spacing: 0;
                }

                .md-bd-8 {
                    font-size: 30px;
                    line-height: 34px;
                    font-weight: 600;
                    letter-spacing: 0.1px;
                }

                .md-bd-9 {
                    font-size: 36px;
                    line-height: 38px;
                    font-weight: 600;
                    letter-spacing: 0.2px;
                }
            }

            .md-bd-1 {
                font-size: 12px;
                line-height: 16px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .md-bd-2 {
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .md-bd-3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .md-bd-4 {
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .md-bd-5 {
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .md-bd-6 {
                font-size: 24px;
                line-height: 28px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .md-bd-7 {
                font-size: 26px;
                line-height: 30px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .md-bd-8 {
                font-size: 30px;
                line-height: 34px;
                font-weight: 600;
                letter-spacing: 0.1px;
            }

            .md-bd-9 {
                font-size: 36px;
                line-height: 38px;
                font-weight: 600;
                letter-spacing: 0.2px;
            }

            // Secondary set of classes for Bold

            .md-sec-bd-1 {
                font-size: 12px;
                line-height: 16px;
                font-weight: 700;
                letter-spacing: 0;
            }

            .md-sec-bd-2 {
                font-size: 14px;
                line-height: 18px;
                font-weight: 700;
                letter-spacing: 0;
            }

            .md-sec-bd-3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 700;
                letter-spacing: 0;
            }

            .md-sec-bd-4 {
                font-size: 18px;
                line-height: 26px;
                font-weight: 700;
                letter-spacing: 0;
            }

            .md-sec-bd-5 {
                font-size: 20px;
                line-height: 26px;
                font-weight: 700;
                letter-spacing: 0;
            }

            .md-sec-bd-6 {
                font-size: 22px;
                line-height: 26px;
                font-weight: 700;
                letter-spacing: 0;
            }

            // Secondary set of classes for Regular

            .md-sec-reg-1 {
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .md-sec-reg-2 {
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .md-sec-reg-3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .md-sec-reg-4 {
                font-size: 18px;
                line-height: 26px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .md-sec-reg-5 {
                font-size: 20px;
                line-height: 26px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .md-sec-reg-6 {
                font-size: 22px;
                line-height: 26px;
                font-weight: 400;
                letter-spacing: 0;
            }

            // Tertiary set of classes for Bold

            .md-ter-bd-1 {
                font-size: 12px;
                line-height: 16px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .md-ter-bd-2 {
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .md-ter-bd-3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .md-ter-bd-4 {
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .md-ter-bd-5 {
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .md-ter-bd-6 {
                font-size: 22px;
                line-height: 26px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .md-ter-bd-7 {
                font-size: 26px;
                line-height: 30px;
                font-weight: 600;
                letter-spacing: 0;
            }

            // Tertiary set of classes for Regular

            .md-ter-reg-1 {
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .md-ter-reg-2 {
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .md-ter-reg-3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .md-ter-reg-4 {
                font-size: 18px;
                line-height: 22px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .md-ter-reg-5 {
                font-size: 20px;
                line-height: 24px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .md-ter-reg-6 {
                font-size: 22px;
                line-height: 26px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .md-ter-reg-7 {
                font-size: 26px;
                line-height: 30px;
                font-weight: 400;
                letter-spacing: 0;
            }

            // Text Alignment:
            .tx-md-lt {
                text-align: left;
            }
            .tx-md-ct {
                text-align: center;
            }
            .tx-md-rt {
                text-align: right;
            }
        }

        @media screen and (min-width: $breakPt3 + px) {
            html.fonts-loaded {
                .lg-bd-1 {
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 500;
                    letter-spacing: 0;
                }
    
                .lg-bd-2 {
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 500;
                    letter-spacing: 0;
                }
    
                .lg-bd-3 {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    letter-spacing: 0;
                }
    
                .lg-bd-4 {
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 500;
                    letter-spacing: 0;
                }
    
                .lg-bd-5 {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 500;
                    letter-spacing: 0;
                }
    
                .lg-bd-6 {
                    font-size: 24px;
                    line-height: 28px;
                    font-weight: 500;
                    letter-spacing: 0;
                }
    
                .lg-bd-7 {
                    font-size: 26px;
                    line-height: 30px;
                    font-weight: 500;
                    letter-spacing: 0;
                }
    
                .lg-bd-8 {
                    font-size: 30px;
                    line-height: 34px;
                    font-weight: 500;
                    letter-spacing: 0.1px;
                }
    
                .lg-bd-9 {
                    font-size: 36px;
                    line-height: 38px;
                    font-weight: 600;
                    letter-spacing: 0.2px;
                }
            }

            .lg-bd-1 {
                font-size: 12px;
                line-height: 16px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .lg-bd-2 {
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .lg-bd-3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .lg-bd-4 {
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .lg-bd-5 {
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .lg-bd-6 {
                font-size: 24px;
                line-height: 28px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .lg-bd-7 {
                font-size: 26px;
                line-height: 30px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .lg-bd-8 {
                font-size: 30px;
                line-height: 34px;
                font-weight: 600;
                letter-spacing: 0.1px;
            }

            .lg-bd-9 {
                font-size: 36px;
                line-height: 38px;
                font-weight: 600;
                letter-spacing: 0.2px;
            }

            // Secondary set of classes for Bold

            .lg-sec-bd-1 {
                font-size: 12px;
                line-height: 16px;
                font-weight: 700;
                letter-spacing: 0;
            }

            .lg-sec-bd-2 {
                font-size: 14px;
                line-height: 18px;
                font-weight: 700;
                letter-spacing: 0;
            }

            .lg-sec-bd-3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 700;
                letter-spacing: 0;
            }

            .lg-sec-bd-4 {
                font-size: 18px;
                line-height: 26px;
                font-weight: 700;
                letter-spacing: 0;
            }

            .lg-sec-bd-5 {
                font-size: 20px;
                line-height: 26px;
                font-weight: 700;
                letter-spacing: 0;
            }

            .lg-sec-bd-6 {
                font-size: 22px;
                line-height: 26px;
                font-weight: 700;
                letter-spacing: 0;
            }

            // Secondary set of classes for Regular

            .lg-sec-reg-1 {
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .lg-sec-reg-2 {
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .lg-sec-reg-3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .lg-sec-reg-4 {
                font-size: 18px;
                line-height: 26px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .lg-sec-reg-5 {
                font-size: 20px;
                line-height: 26px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .lg-sec-reg-6 {
                font-size: 22px;
                line-height: 26px;
                font-weight: 400;
                letter-spacing: 0;
            }

            // Tertiary set of classes for Bold

            .lg-ter-bd-1 {
                font-size: 12px;
                line-height: 16px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .lg-ter-bd-2 {
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .lg-ter-bd-3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .lg-ter-bd-4 {
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .lg-ter-bd-5 {
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .lg-ter-bd-6 {
                font-size: 22px;
                line-height: 26px;
                font-weight: 600;
                letter-spacing: 0;
            }

            .lg-ter-bd-7 {
                font-size: 26px;
                line-height: 30px;
                font-weight: 600;
                letter-spacing: 0;
            }

            // Tertiary set of classes for Regular

            .lg-ter-reg-1 {
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .lg-ter-reg-2 {
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .lg-ter-reg-3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .lg-ter-reg-4 {
                font-size: 18px;
                line-height: 22px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .lg-ter-reg-5 {
                font-size: 20px;
                line-height: 24px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .lg-ter-reg-6 {
                font-size: 22px;
                line-height: 26px;
                font-weight: 400;
                letter-spacing: 0;
            }

            .lg-ter-reg-7 {
                font-size: 26px;
                line-height: 30px;
                font-weight: 400;
                letter-spacing: 0;
            }

            // Text Alignment:
            .tx-lg-lt {
                text-align: left;
            }
            .tx-lg-ct {
                text-align: center;
            }
            .tx-lg-rt {
                text-align: right;
            }
        }
    }
}
