/* These are the basic set of rules used to
 * override the default behaviour of browsers.
 *
 */

@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin set-defaults() {
	padding: 0;
	margin: 0;
	// overflow-x: hidden;
	// overflow: initial;
	text-decoration: none;
	border: none;
	border-radius: 0;
	// list-style: none;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//Sassy Mixin for avoiding link-overflow
@mixin word-wrap-links() {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

@mixin hide-horizontal-scroll {
}

// Normalize.css
// Pulling in select resets form the normalize.css project
// --------------------------------------------------
// Display in IE6-9 and FF3

*,
*::before,
*::after {
	font: inherit;
	color: inherit;
	text-align: left;
	line-height: inherit;
	background-color: initial;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	@include border-box();
	@include set-defaults();
}

html {
	@include set-defaults();
	overflow-x: hidden;
}

body {
	color: #000000;
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	font-style: normal;
	text-align: left;
	line-height: 1.3;
	background-color: #f7f7f7;
	// overflow-x: hidden;
	@include set-defaults();
	@include border-box();
}

a {
	text-decoration: none;
	&:link,
	&:visited,
	&:hover,
	&:active,
	&:focus,
	&:focus-within,
	&:hover {
		/* color:inherit; */
		outline: none;
	}
}
.embedded-links a {
	@include word-wrap-links();
}

a:-webkit-any-link {
	text-decoration: none;
}
:focus {
	outline: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

[tabindex="-1"]:focus {
	outline: 0;
}

/* hr {
    height: 0;
    overflow: visible;
} */

img {
	vertical-align: middle;
	border-style: none;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
	cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
	-webkit-appearance: listbox;
}

input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	overflow-x: hidden;
	/* overflow-y: scroll; */
	resize: none;
	outline: none;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

.list-style-none {
	list-style: none;
}
b,
strong {
	font-weight: bold;
}
i,
em {
	font-style: italic;
}
del {
	text-decoration: line-through;
}
u {
	text-decoration: underline;
}
