.c-nt-h {
	& .top-nav {
		width: 100%;
		z-index: 3;
		background-color: #fff;
	}
	& .top-bar.lg-screen {
		height: 70px;
		display: flex;
		& .first-tier {
			width: 100%;
			height: 100%;
			position: relative;
			display: flex;
			align-items: center;
		}
		& .m-icon {
			font-size: 18px;
			margin-top: 4px;
			cursor: pointer;
		}
		& ul[data-cname="list-hdBttns"] {
			display: flex;
			list-style-type: none;
			& li:first-child {
				margin-left: 14px;
			}
			& li {
				display: inline-block;
				& .sel {
					display: block;
					background-color: #fff;
					padding: 10px 14px;
					border-radius: 10px;
					color: #000;
					cursor: pointer;
				}
				& .sel:hover {
					background-color: #edf5ff;
				}
				& .sel.selected {
					background-color: #edf5ff;
				}
				& .d-icon {
					font-size: 16px;
					margin-left: 6px;
				}
				& .d-box {
					position: absolute;
					z-index: 1;
					background-color: #fff;
					min-width: 160px;
					max-height: 230px;
					width: 100%;
					padding: 10px initial;
					border-radius: 10px;
					> a {
						display: block;
						padding: 12px 20px;
						color: #4d4d4d;
					}
					> a:hover {
						background-color: #edf5ff;
						color: #000;
					}
				}
			}
		}
		& .lt-box {
			display: flex;
			min-width: 120px;
			position: absolute;
			right: 0;

			& .s-icon {
				margin: 2px 10px 0 0;
				padding: 14px 16px;
				cursor: pointer;
			}
		}
		& .search-bar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 20px;
			padding-bottom: 20px;
			width: 100%;
			& .cr-icon {
				font-size: 24px;
				cursor: pointer;
			}
		}
		&[data-search="off"] {
			& .search-bar {
				display: none;
			}
		}
		&[data-search="on"] {
			& .search-bar {
				display: flex;
			}
			& .first-tier {
				display: none;
			}
		}
	}
	& .top-bar.touch-screen {
		height: 56px;
		position: relative;
		& .first-tier {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 4%;
			right: 4%;
		}
		& .m-icon {
			font-size: 18px;
			padding: 16px;
			cursor: pointer;
		}
		& .s-icon {
			margin: 2px 10px 0 0;
			padding: 14px 16px;
			cursor: pointer;
		}
		& .lt-box {
			min-width: 110px;
			position: absolute;
			right: 0;
			display: flex;
		}
		& .search-bar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-left: 4%;
			padding-right: 4%;
			width: 100%;
			& .s-query {
				width: 100%;
				padding-top: 12px;
				padding-bottom: 12px;
			}
			& .cr-icon {
				font-size: 24px;
				cursor: pointer;
				padding: 12px;
				margin-left: 12px;
			}
		}
		&[data-search="off"] {
			& .search-bar {
				display: none;
			}
		}
		&[data-search="on"] {
			& .search-bar {
				display: flex;
			}
			& .first-tier {
				display: none;
			}
		}
	}
	& .second-tier {
		& .left-most {
			margin-right: 14px;
		}
	}
	& .c-drdown {
		display: inline-block;
		position: relative;
		& .b-sel {
			display: inline-block;
			cursor: pointer;
			padding: 14px 0;
			background-color: transparent;
		}
		& .d-icon {
			font-size: 16px;
			margin-left: 6px;
		}
		& .d-box {
			position: absolute;
			z-index: 1;
			background-color: #fff;
			min-width: 160px;
			max-height: 230px;
			padding-top: 10px;
			padding-bottom: 10px;
			border-radius: 10px;
			box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
			> a {
				display: block;
				padding: 12px 20px;
				color: #4d4d4d;
			}
			> a:hover {
				background-color: #edf5ff;
				color: #000000;
			}
		}
	}
	& .sd-upper {
		padding: 16px 20px 30px;
		& .c-icon {
			padding: 14px;
			font-size: 22px;
			cursor: pointer;
		}
		& .lg-bttn {
			color: #fff;
			background-color: #0053b3;
			border-radius: 10px;
			text-align: center;
			padding: 14px 30px;
			cursor: pointer;
		}
		& .sg-img {
			border-radius: 50%;
			width: 50px;
			height: 50px;
		}
	}
	& .c-accordion {
		padding: 20px 20px 30px 20px;
		& .slab,
		& .accordion-header {
			& > a {
				display: block;
				border-radius: 10px;
				padding: 10px;
				margin-top: 10px;
			}
			& > a:hover {
				background-color: #edf5ff;
			}
			& .sel {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				border-radius: 10;
				cursor: pointer;
				padding: 10px;
				& .d-icon {
					font-size: 18px;
				}
			}
			& .sel:hover {
				background-color: #edf5ff;
			}
			& .items {
				> a {
					display: block;
					border-radius: 10px;
					padding: 10px;
					cursor: pointer;
				}
				> a:hover {
					background-color: #edf5ff;
				}
			}
		}
	}
	& .m-sidebar {
		& ul {
			list-style-type: none;
		}
		& ul[data-cname="list-sLinks"] {
			& li {
				padding-top: 30px;
			}
			& a {
				color: #064893;
			}
			& a:hover {
				color: #004494;
			}
			& .icon {
				font-size: 20px;
				margin-left: 6px;
			}
		}
		& .d-link {
			color: #064893;
		}
		& .d-link:hover {
			color: #004494;
		}
		& ul.list-sprofiles {
			& li {
				> a {
					padding-left: 14px;
					padding-right: 14px;
					font-size: 20px;
					color: #000;
				}
			}
		}
	}
	& .pd-l-14 {
		padding-left: 14px;
	}
	& .pd-r-14 {
		padding-right: 14px;
	}
	& .drdown-selector-hoverable:hover .drdown-box {
		display: block;
	}
	& .alice-blue-bg-hover:hover {
		background-color: #edf5ff;
	}
	& .navy-blue-bg-hover:hover {
		background-color: #004494;
	}
	& .pd-r-20 {
		padding-right: 20px;
	}
	& .pd-l-20 {
		padding-left: 20px;
	}
	& .pd-b-12 {
		padding-bottom: 12px;
	}
	& .pd-t-12 {
		padding-top: 12px;
	}
	& .dp-bl {
		display: block;
	}
	& .cl-lt {
		color: #4d4d4d;
	}
}
